body{
    margin: 0;
    padding: 0;
}
.navBar{
    width: 100%;
    background-color: black;
    text-align: right;
}
.navBar a{
    color: white;
    margin-right: 10%;
}
#intro{
    text-align: center;
    font-size: 45px;
}